{
  "presets": ["es2015", "stage-0", "react"],

  "plugins": ["transform-decorators-legacy"],

  "compact": "true",

  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
